.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: brown

}
.headbar{
    width: 100%;
    height: 10%;
    background-color: blue;
}
.bodybar{
background-color: brown;
    width: 100%;
    height:90%;
}
.background{
    background-color: blue;
}